<h1>Listing contents</h1>

<table>
  <tr>
    <th>Titolo</th>
    <th>Riassunto</th>
    <th>Testo</th>
    <th>Edition</th>
    <th>section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.titolo %></td>
    <td><%= content.riassunto %></td>
     <td><%= content.testo %></td>
    <td><%= content.edition_id %></td>
    <td><%= content.section_id %></td>


    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
