<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @user.group_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @user.organization_id %>
</p>

<p>
  <b>Codice:</b>
  <%= @user.codice %>
</p>

<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Titolo:</b>
  <%= @user.titolo %>
</p>

<p>
  <b>Soc:</b>
  <%= @user.soc %>
</p>

<p>
  <b>Sede:</b>
  <%= @user.sede %>
</p>

<p>
  <b>Indirizzo:</b>
  <%= @user.indirizzo %>
</p>

<p>
  <b>Telefono:</b>
  <%= @user.telefono %>
</p>

<p>
  <b>Fax:</b>
  <%= @user.fax %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Telefono2:</b>
  <%= @user.telefono2 %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Mail2:</b>
  <%= @user.mail2 %>
</p>

<p>
  <b>Pwd:</b>
  <%= @user.pwd %>
</p>

<p>
  <b>Registrato:</b>
  <%= @user.registrato %>
</p>

<p>
  <b>Data:</b>
  <%= @user.data %>
</p>

<p>
  <b>Datascadenza:</b>
  <%= @user.datascadenza %>
</p>

<p>
  <b>Cap:</b>
  <%= @user.cap %>
</p>

<p>
  <b>Prov:</b>
  <%= @user.prov %>
</p>

<p>
  <b>Note:</b>
  <%= @user.note %>
</p>

<p>
  <b>Sez:</b>
  <%= @user.sez %>
</p>

<p>
  <b>Iva :</b>
  <%= @user.iva_ %>
</p>

<p>
  <b>Codicefiscale:</b>
  <%= @user.codicefiscale %>
</p>

<p>
  <b>Partitaiva:</b>
  <%= @user.partitaiva %>
</p>

<p>
  <b>Annotazioni:</b>
  <%= @user.annotazioni %>
</p>

<p>
  <b>Tariffa precedente:</b>
  <%= @user.tariffa_precedente %>
</p>

<p>
  <b>Sconto precedente:</b>
  <%= @user.sconto_precedente %>
</p>

<p>
  <b>Iva precedente:</b>
  <%= @user.iva_precedente %>
</p>

<p>
  <b>Pagamento precedente:</b>
  <%= @user.pagamento_precedente %>
</p>

<p>
  <b>Data ultimo pagamento:</b>
  <%= @user.data_ultimo_pagamento %>
</p>

<p>
  <b>Data accredito:</b>
  <%= @user.data_accredito %>
</p>

<p>
  <b>Anno competenza:</b>
  <%= @user.anno_competenza %>
</p>

<p>
  <b>Conferma registrazione:</b>
  <%= @user.conferma_registrazione %>
</p>

<p>
  <b>Abbonato:</b>
  <%= @user.abbonato %>
</p>

<p>
  <b>Disabilitato:</b>
  <%= @user.disabilitato %>
</p>

<p>
  <b>Parent:</b>
  <%= @user.parent %>
</p>

<p>
  <b>Crediti:</b>
  <%= @user.crediti %>
</p>

<p>
  <b>Power user:</b>
  <%= @user.power_user %>
</p>

<p>
  <b>Num reg coni:</b>
  <%= @user.num_reg_coni %>
</p>

<p>
  <b>Forum redattore:</b>
  <%= @user.forum_redattore %>
</p>

<p>
  <b>Forum notifica:</b>
  <%= @user.forum_notifica %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
