  <p id="notice"><%= notice %></p>
  <div>
    <%@contents.each do |contenuto| %>
        <div class="fs-postheadericons"><img src=<%= asset_path contenuto.immagine_url%> style align="left">
        </div>
        <div class="fs-blocktitolo" > <h4 class="t">  <%= contenuto.titolo %>  </h4>
          <span id="x_y_nome"><%=  contenuto.riassunto %></span>  </div>
          <a style="align: right;" href=<%= contenuto.titolo_no_format %>><img src=<%= asset_path contenuto.riferimento %> ></a>
        <br /><hr>
    <% end %>
  </div>