<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sezione %><br />
    <%= f.text_field :sezione %>
  </div>
  <div class="field">
    <%= f.label :protetto %><br />
    <%= f.check_box :protetto %>
  </div>
  <div class="field">
    <%= f.label :ordinamento %><br />
    <%= f.number_field :ordinamento %>
  </div>
  <div class="field">

    <%= f.label :top_section_id %><br />
    <%= collection_select(:section, :top_section_id, TopSection.all, :id, :top_section_with_id , {:prompt => true}) %>
     <%# collection_select(:section, :top_section_id, TopSection.find(:all, :order => "id") , :id, :sezione_top,:id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
